*{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 576px){
    .header{
        font-size: 70%;
    }

    .header h1 {
        max-width: 500px;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nav{
        font-size: 90%;
    }

    .nav ul li{
        line-height: normal;
    }

    .content{
        width: calc(60% - 40px);
        font-size: 70%;
    }

    .aside{
        width: calc(40% - 20px);
    }

    .aside h2{
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 768px){
    #container{
        width: calc(100% - 2px);
    }
}

@media only screen and (max-width: 992px){
    .header{
        font-size: 70%;
    }

    .aside{
        font-size: 70%;
        width: calc(30% - 20px);
    }

    .content {
        width: calc(70% - 40px);
    }
}

@media only screen and (max-width: 360px){
    .footer{
        font-size:  70%;
    }
}

BODY {
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.content{
    float: left;
    background-color: green;
    width: calc(70% - 40px);
    min-height: 500px;
    padding: 10px 20px 0 20px;
}

.nav{
    background-color: aquamarine;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

li {
    float: left;
    margin-right: 10px;
    display: block;
}

.aside{
    float: left;
    width: calc(30% - 20px);
    background-color: orange;
    min-height: 500px;
    padding: 10px 10px 0 10px;
}

.header{
    text-align: center;
    background-color: red;
    height: 80px;
    line-height: 80px;
    width: calc(100% - 20px);
    border-bottom: 3px dashed black;
    padding: 0 10px;
}


.footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: black;
}

.aside input[type=text]{
    width: 100%;
}

.article{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.article:first-child{
    border-top: 1px solid white;
    padding-top: 10px;
}

input{
    display: block;
    margin-bottom: 1px;
}

.clearfix{
    clear: both;
}